@import "tailwindcss";
@plugin "daisyui" {
  themes: forest --default;
}

/* Add cursor pointer to buttons by default */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

